
body{
    background: url("food.png");
    background-attachment: fixed;
    backdrop-filter: blur(8px);
}


.st img{
    float: left;
    margin: 10px;
    padding: 50px;
}
.menu{
    display: flex;
    text-align: left;
    margin: 75px 10px 10px 50px;
    padding: 50px;
    border: 2px solid black;
    width: max-content;
    height:500px;
    font-size: 50px;

}
span .menu{
    background-image: url("food.png");
}
.menu a{
    text-decoration: none;
    color: black;
    margin: 50px;
    padding: 50px;
}
.menu a:hover{
    color: white;
}
.menu li{
    padding: 10px;
}
